@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="d-flex justify-content-center">
    <h1>Forgot password confirmation</h1>
</div>
<div class="d-flex justify-content-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>
