@page "/Account/Help"

<div style="height: 100px"></div>
<h1 class="container-fluid text-center text-dark mb-5">What do you need help with today?</h1>
<ul>
    @foreach (var helpItem in helpList)
    {
        <div class="p-3 text-center  m-3">
        <li>
            <h3>@helpItem.Question</h3>
            <p>@helpItem.Answer</p>
        </li>
        </div>
    }
</ul>

<div style="height: 100px"></div>
<div class="p-3 text-center text-dark m-5">
    <h3>Couldn't find your question?</h3>
    <h3 style="font-size: 16px">Feel free to contact us at email@email.com and we will get back to you as soon as possible!</h3>
</div>




@code {
    List<HelpItem> helpList;

    protected override void OnInitialized()
    {
        helpList = new List<HelpItem>();

        helpList.Add(new HelpItem
            ("What is Valhalla Vault Cyber Awareness?", 
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
        helpList.Add(new HelpItem
            ("How does it work?",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
        helpList.Add(new HelpItem(
            "What is cyber security?",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
    }

    public class HelpItem
    {
        public string Question { get; set; }
        public string Answer { get; set; }

        public HelpItem(string question, string answer)
        {
            Question = question;
            Answer = answer;
        }
    }

}