@page "/Account/Help"


<div style="height: 100px"></div>
<h1 class="container-fluid text-center text-dark mb-5">What do you need help with today?</h1>
<ul>
     <!--Lists all the questions and answers on the webpage  -->

    @foreach (var helpItem in helpList)
    {
        <div class="border p-3 text-center  m-3">
        
            <h3>@helpItem.Question</h3>
            <p>@helpItem.Answer</p>
      
        </div>
    }
</ul>

<div style="height: 50px"></div>
<div class="p-3 text-center text-dark m-5">
    <h3>Couldn't find your question?</h3>
    <a href="mailto:email@email.com" class="btn btn-dark btn-lg">Contact us!</a>
</div>




@code {

    //A list over questions and answers

    List<HelpItem> helpList;

    protected override void OnInitialized()
    {
        helpList = new List<HelpItem>();

        helpList.Add(new HelpItem
            ("What is Valhalla Vault Cyber Awareness?", 
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
        helpList.Add(new HelpItem
            ("How does it work?",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
        helpList.Add(new HelpItem(
            "What is cyber security?",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."));
    }

    public class HelpItem
    {
        public string Question { get; set; }
        public string Answer { get; set; }

        public HelpItem(string question, string answer)
        {
            Question = question;
            Answer = answer;
        }
    }

}