@page "/Account/Help"


<div style="height: 100px"></div>
<h1 class="container-fluid text-center text-dark mb-5">What do you need help with today?</h1>

<div class="d-grid gap-3 text-dark">
	<div class="p-2 text-center  m-3">
		<h2>What is Valhalla Vault Cyber Awareness?</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac turpis non nunc convallis ultricies.</h3>
	</div>
	<div class="p-2 text-center  m-3">
		<h2>How does it work?</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac turpis non nunc convallis ultricies.</h3>
	</div>
	<div class="p-2 text-center  m-3">
		<h2>Question 3</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac turpis non nunc convallis ultricies.</h3>
	</div>
</div>
<div style="height: 100px"></div>
<h3 class="container-fluid text-center text-dark m-5">Couldn't find your question?</h3>

<div class="container-fluid input-group rounded">
	<div class="input-group rounded">
		<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
		<span class="input-group-text border-0" id="search-addon">
			<i class="fas fa-search"></i>
		</span>
	</div>
	</div>


@code {

}
