@page "/Account/Help"

@* Search bar? *@
<br />
<br />
<br />
<br />
<h1 class="container-fluid text-center text-light">What do you need help with today?</h1>
<br />
<br />
<br />
<br />
<div class="container-fluid text-center row text-light">
	<h1 class="container-fluid text-center text-light">Frequently asked questions</h1>
</div>
<br />
	<br />
<div class="container-fluid text-center row text-light">
	<h2>Question 1</h2>
	<h3>Answer</h3>
	<h2>Question 1</h2>
	<h3>Answer</h3>
	<h2>Question 1</h2>
	<h3>Answer</h3>
</div>
<br />
<br />
<br />
<br />
<h3 class="container-fluid text-center text-light">Couldn't find your question?</h3>
<div class="container-flui input-group rounded">
	<div class="input-group rounded">
		<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
		<span class="input-group-text border-0" id="search-addon">
			<i class="fas fa-search"></i>
		</span>
	</div>
	</div>

@code {

}
