@page "/Account/Help"




<div style="height: 100px"></div>
<h1 class="container-fluid text-center text-dark mb-5">What do you need help with today?</h1>

<div class="d-grid gap-3 text-dark">
	<div class="p-3 text-center  m-3">
		<h2>What is Valhalla Vault Cyber Awareness?</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
	</div>
	<div class="p-3 text-center  m-3">
		<h2>How does it work?</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac turpis non nunc convallis ultricies.</h3>
	</div>
	<div class="p-3 text-center  m-3">
		<h2>What is cyber security?</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac turpis non nunc convallis ultricies.</h3>
	</div>
</div>
<div style="height: 100px"></div>
<div class="container-fluid text-center text-dark m-5">
<h3 >Couldn't find your question?</h3>
<h3 style="font-size: 16px">Feel free to contact us at email@email.com and we will get back to you as soon as possible!</h3>
</div>






@code {

}