@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1 class="text-light">You are authenticated!</h1>

<AuthorizeView>
  <span class="text-light">  Hello @context.User.Identity?.Name!</span>
</AuthorizeView>
