@inject NavigationManager NavigationManager

<h3 class="container col-md-4 text-white">Insert logo</h3>



<br />
<p class="container col-md-4 text-white">Expanding cyber security knowledge!</p>

<div class="container ">
	<div class="row">
		<div class="col-sm">
	<button type="submit" class="w-100 btn btn-lg btn-purple custom-border">Register</button>
</div>
	<div class="col-sm">
	<button type="submit" class="w-100 btn btn-lg btn-purple custom-border" @onclick="NavigateToLogin">Login</button>
		</div>
	</div>
</div>


@code {
	private void NavigateToLogin()
	{
		
	}
}
