



<nav class="navbar navbar-expand-lg navbar-transparent bg-dark text-light">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" text-light">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </div>
</nav>

@code {

}
