@inherits LayoutComponentBase
@using ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage


   

	<NavMenu></NavMenu>
<div class="page bg-darkergrey">
	<main>
        <article class="">
            @Body
        </article>
        
           
    </main>
</div>





