@inherits LayoutComponentBase


<div class="header"></div>
<ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage.Layout />
<div class="page">
<div style="color:blanchedalmond"></div>	

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


