@inherits LayoutComponentBase
@using ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage


   

	<NavMenu></NavMenu>
<div class="page ">
	<main class="flex-column align-items-center d-flex">
        
        <article class=" w-50">
            @Body
        </article>
        
           
    </main>
</div>





