@inherits LayoutComponentBase
@using ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage


    <NavMenu></NavMenu>
@* <a href="\">
    <img src="/images/VV-3_vector.png" alt="Logo" class="img-fluid mx-auto d-block" style="max-width: 350px; height: auto;"/>
</a>
<div style="color: white; text-align: center; padding-top: 20px">
    <p>
        Empower your organization's cyber resilience with our expert-led training. In today's digital era, safeguarding your assets is essential.
    </p>
    <p>
        Our courses equip your team with practical skills and theoretical knowledge to identify and mitigate cyber threats effectively. With personalized guidance from industry experts, your team will be prepared to tackle any digital challenge.
    </p>
    <p>
        Join us to fortify your company's defenses and stay ahead in the ever-evolving landscape of cybersecurity.
    </p>
</div> *@

@* <style>
    .page main article {
        padding: 0 !important
    }
</style>

	<NavMenu></NavMenu>
<div class="page ">
	<main class="flex-column align-items-center d-flex">
        
        <article class=" w-50">
            @Body
        </article>
    </main>
</div> *@

<div class="page ">
    <main class="flex-column align-items-center d-flex">

        <article class="">
            @Body
        </article>


    </main>
</div>