@inherits LayoutComponentBase


<div class="header"></div>
<ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage.Layout />
<div class="page bg-black">
	

    <div class="sidebar">
        
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


