@inherits LayoutComponentBase
@using ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage

<div class="page bg-lightgrey">

	<div class=""><NavMenu></NavMenu></div>

	<main>

        <article class="content px-4 ">
            @Body
        </article>
    </main>
</div>


