@inherits LayoutComponentBase
@using ValhallaVaultCyberGroup.Ui.Components.Account.Pages.Manage


   

	<NavMenu></NavMenu>
<div class="page bg-darkergrey">
	<main class="flex-column justify-content-center align-items-center d-flex">
        <article class="bg-darkergrey">
            @Body
        </article>
        
           
    </main>
</div>





