@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navbar navbar-expand-lg navbar-dark bg-darkestgrey d-flex justify-content-between">
    <a href="\">
		<img src="/images/VV-3_vectorV2.png" alt="Logo" width="105" height="90" />
	</a>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    <div class=" bg-darkestgrey " onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>



                


                <AuthorizeView Roles="Admin">

                    <li class="nav-item ">
                        <NavLink class="nav-link" href="Admin">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                        </NavLink>
                    </li>

                </AuthorizeView>
              

                <AuthorizeView>
                    <Authorized>

                        <li class="nav-item ">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>

                        </li>


                        <li class="nav-item d-flex align-items-center">
                            <form action="Account/Logout" method="post" class="">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </li>
                    </Authorized>


                    <NotAuthorized>
                        <li class="nav-item ">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </li>


                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>

                <li class="nav-item">
                    <NavLink class="nav-link" href="Account/Help">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
                    </NavLink>
                </li>

            </ul>
        </nav>
    </div>
</div>



@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

