@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navbar navbar-expand-lg navbar-dark bg-darkestgrey justify-content-center">
    <a href="\">
		<img src="/images/ValhallaVCA-small.png" alt="Logo" width="40" height="40" />
	</a>
    <div class="navbar navbar-expand-lg align-items-left navbar-dark bg-darkestgrey ">
        <div class="container">
       
    </div>
		<div>  <a class="navbar-brand " href=""> ValhallaVaultCyberGroup</a></div>
	</div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    
	<div class=" bg-darkestgrey " onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="">
            <ul class="navbar-nav ">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
				</li>
               
			

            <li class="nav-item ">
                <NavLink class="nav-link" href="auth">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin
                </NavLink>
            </li>

            
                <AuthorizeView Roles="Admin">
                    
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="Admin">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                        </NavLink>
                    </li>
                
                </AuthorizeView>

                <AuthorizeView>
                    <Authorized>
                       
                        <li class="nav-item ">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                            
                        </li>


                        <li class="nav-item ">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </li>
                    </Authorized>


                    <NotAuthorized>
                        <li class="nav-item ">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </li>


                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
                 
          
			</ul>
        </nav>
    </div>
</div>

@* <nav class="navbar navbar-expand-lg navbar-dark bg-darkestgrey">
	<img src="/images/ValhallaVCA-small.png" alt="Logo" width="40" height="40" />
    <div>  <a class="navbar-brand" href=""> ValhallaVaultCyberGroup</a></div>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
       
            <li class="nav-item active">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
      
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>


        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
  
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>

        <span class="navbar-text">
            Navbar text with an inline element
        </span>
    </div>
</nav>
 *@



@* <div class="navbar navbar-expand-lg nav-fill navbar-dark bg-darkestgrey">
    <div class="navbar navbar-expand-lg navbar-dark bg-darkestgrey">
		<img src="/images/ValhallaVCA-small.png" alt="Logo" width="40" height="40" />
    </div>
    <div>  <a class="navbar-brand" href=""> ValhallaVaultCyberGroup</a></div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class=" bg-darkestgrey" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
       
        <div class="nav-item ">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>

        <div>          
            <AuthorizeView Roles="Admin">
                <div class="nav-item ">
                    <NavLink class="nav-link" href="Admin">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item ">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>


                <div class="nav-item ">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>


            <NotAuthorized>
                <div class="nav-item ">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>


                <div class="nav-item">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
				</div>
		
    </nav></div>
	</div> *@


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

