@using ValhallaVaultCyberGroup.App.Managers
@using ValhallaVaultCyberGroup.Data.Models.Domain







<div class="@cssStyling bg-white text-black ">

    <div class="d-flex justify-content-between align-items-baseline" style="width:100%; @( !IsSubcategory ? "border-bottom: 1px solid black" : "")" @onclick="Expand">
            @Title

        @if (IsExpanded && !IsSubcategory)
        {
            <span style="font-size:24px" class="glyphicon glyphicon-chevron-up"></span>
        }
        else if (!IsExpanded && !IsSubcategory)
        {
            <span style="font-size:24px"  class="glyphicon glyphicon-chevron-down"></span>
        }
    </div>
    <div class="@(IsSegment ? "p-1" : "" )" >
    @if (IsExpanded == true)
    {
        @Body
               
    }
    </div>
</div>

    

  

    
 




@code {

    [Parameter]
    public int? currentId { get; set; }

    [Parameter]
    public bool IsSubcategory { get; set; } = false;

    [Parameter]
    public bool IsSegment { get; set; } = false;

    private string cssStyling = "categoryBox";

    [Parameter]
    public bool PreviousComplete { get; set; } = false;

    [Parameter]
    public bool IsAdmin { get; set; } = false;

    private bool IsExpanded = false;
    [Parameter]

    public RenderFragment Title{ get; set; }

    [Parameter]
    public RenderFragment Body {get ;set;}

    [Parameter]
    public Action? previous { get; set; }

    private void Expand()
    {
        if ( PreviousComplete ||IsAdmin)
        {
            IsExpanded = !IsExpanded;
        }

    }

    protected override void OnInitialized()
    {
        if (IsSubcategory)
        {
            
        }

        if (IsSubcategory)
        {
            cssStyling = "subcategoryBox";
        }
        else if (IsSegment)
        {
            cssStyling = "segmentBox";
        }
        base.OnInitialized();
    }


}
