<div>
    <button class="btn btn-warning h-auto" @onclick='() => EditOrRemove("edit", Type, ItemId)'>Edit</button>
    <button class="btn btn-danger h-auto text-black" @onclick='() => EditOrRemove("remove", Type, ItemId)'>X</button>
</div>

@code {
    [Parameter, EditorRequired]
    public int ItemId { get; set; }

    [Parameter, EditorRequired]
    public string Type { get; set; }

    [Parameter, EditorRequired]
    public Action<string,string, int> EditOrRemove { get; set; }

}