<div class="d-flex">
    <button class="subcat-button h-auto" @onclick='() => EditOrRemove("edit", Type, ItemId, false)'>Edit</button>
    <button class="subcat-button h-auto delete-button" @onclick='() => EditOrRemove("remove", Type, ItemId, false)'><span class="glyphicon glyphicon-trash"></span></button>
</div>

@code {
    [Parameter, EditorRequired]
    public int ItemId { get; set; }

    [Parameter, EditorRequired]
    public string Type { get; set; }

    [Parameter, EditorRequired]
    public Action<string,string, int, bool> EditOrRemove { get; set; }

}