

<div class="questionForm">
    
    @Header

    @Body

</div>



@code {

    [Parameter]

    public RenderFragment Header { get; set; }

    [Parameter]

    public RenderFragment Body { get; set; }


}
